<div class="row">
  <div class="col-md-12 products-total text-right pull-right" style="margin-top: 10px;margin-left: 25px">
    <!--<button class="btn btn-sm btn-primary" style="margin-left: 5px; font-size: 5px">
      <app-feather-icons [icon]="'user'"></app-feather-icons>
    </button>-->
    <!--          <button class="btn btn-sm btn-primary" style="margin-left: 5px; font-size: 5px">-->
    <a routerLink="/">
      <app-feather-icons style="margin-left: 5px;" [icon]="'home'"></app-feather-icons>
    </a>
    <a routerLink="/user">
      <app-feather-icons style="margin-left: 5px;" [icon]="'user'"></app-feather-icons>
    </a>
    <a routerLink="/cart">

      <app-feather-icons style="margin-left: 5px;" [icon]="'shopping-bag'"></app-feather-icons>
    </a>
    <!--          </button>-->
  </div>
</div>
